
<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <%= image_tag @user.avatar, width: '90%' %>
    </div>
    <div class="col-xs-8">
      <h2><%= @user.name %></h2>
      <h4><%= @user.intro %></h4>

      <% if @user == current_user %>
        <%= link_to "編輯", edit_user_path(@user), class: "btn btn-primary" %>
      <% else %>
        <% flash[:alert]= "你這偷窺狂想幹嘛 >///<" %>
      <% end %>
    </div>
  </div>
</div>